@import "tailwindcss";

@source "./site/**/*.html";
@source "./site/**/*.js";

/* Styles spécifiques pour le site Conserver Votre Permis */

html {
  scroll-behavior: smooth;
}

#cours, #monitrice, #modalites, #inscription,
#courses, #instructor, #details, #registration {
  scroll-margin-top: 100px;
}

.figure img {
  max-width: 99%;
  height: auto;
}

.signature, .signature2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

.grecaptcha-badge {
  bottom: 75px !important;
  right: 5px !important;
}
